html {
    background-color: #333;
    font-family: helvetica;
}

* {
    padding: 10px;
}

@media screen and (max-width: 700px) { /* Voor mobile en tablet*/
    header {
        background: #ddaa00;
    }

    header > a {
        color: #ddaa00;
    }

    footer {
        background: #ddaa00;
    }

    footer > a {
        color: #ddaa00;
    }
    nav {
        background-color: #cccccc;
    }

    main {
        background-color: gray;
    }
}

@media screen and (min-width: 700px) { /* Voor desktops*/
    header {
        background: #ddaa00;
    }

    header > a {
        color: #ddaa00;
    }

    footer {
        background: #ddaa00;
    }

    footer > a {
        color: #ddaa00;
    }

    nav {
        background-color: #cccccc;
    }

    main {
        background-color: gray;
    }


}