body {
    background: linear-gradient(45deg, cornflowerblue 20%, #3c3c3c 20% 50%, #ff6f69 50% 80%, #96ceb4 80%);
    padding: 20px;
}
h1 {
    color: white;
    border: 2px dashed yellow;
    display: inline;
    padding: 10px;
}
h2 {
    color: papayawhip;
}

a {
    color: white;
    font-weight: bold;

}

a:hover {
    color: yellow;
}

ol, li {
    list-style-type: none;

}


/* #96ceb4 , #FAD5A5

     background: linear-gradient(45deg, #2B2D42 20%, #3c3c3c 20% 50%, #6495ed 50% 80%, #f8f8ff 80%);
*/